{:keys-missing-in-1 [],
 :keys-missing-in-2 [],
 :value-differences
 [{:path [],
   :val-1 nil,
   :val-2
   {:cledgers-user
    {:name "cledgers-user",
     :fields
     {:username
      {:name "username",
       :type :character,
       :max-length 30,
       :unique true},
      :first-name
      {:name "first-name", :type :character, :max-length 30},
      :last-name {:name "last-name", :type :character, :max-length 30},
      :email {:name "email", :type :character, :max-length 30},
      :is-admin {:name "is-admin", :type :boolean, :default false},
      :last-login {:name "last-login", :type :date-time, :null true},
      :is-active {:name "is-active", :type :boolean, :default false},
      :pass {:name "pass", :type :character, :max-length 300}}}}}],
 :dal-version "2.2.6"}
