{:keys-missing-in-1
 [{:path [:xaction],
   :value
   {:name "xaction",
    :fields
    {:description
     {:name "description", :type :character, :max-length 250},
     :amount
     {:name "amount",
      :type :numeric,
      :total-length 10,
      :decimal-places 2},
     :date {:name "date", :type :date},
     :time-created
     {:name "time-created", :type :date-time, :default :current-time},
     :created-by
     {:name "created-by",
      :type :foreign-key,
      :references :cledgers-user}}}}],
 :keys-missing-in-2 [],
 :value-differences [],
 :dal-version "2.2.6"}
