{:keys-missing-in-1
 [{:path [:payee],
   :value
   {:name "payee",
    :fields
    {:name
     {:name "name", :type :character, :max-length 100, :unique true},
     :time-created
     {:name "time-created", :type :date-time, :default :current-time},
     :created-by
     {:name "created-by",
      :type :foreign-key,
      :references :cledgers-user}}}}
  {:path [:xaction :fields :payee],
   :value {:name "payee", :type :foreign-key, :references :payee}}],
 :keys-missing-in-2 [],
 :value-differences [],
 :dal-version "2.2.6"}
